@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hedo in Machine</h1>
<h3>Demo aşamasıdır.</h3>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Departman</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>HEDO</td>
            <td>Yazılım</td>
        </tr>
        <tr>
            <td>2</td>
            <td>SFG</td>
            <td>Yazılım</td>
        </tr>

    </tbody>

</table>